secrets {
    provider "passphrase"
    encryptedkey "v1:EA7Njlwb_8O0IuMkflCGOo3iXUyKGi7aSuwEK-BZwuUb3_wENf6tM3x9wu02VjT3LPAcFiWSNScfrFXtl75lMbPRA3RghIumj9_w6pKif0MfTa_q3niP8qw"
}
db-password "secret:v1:NxAGFzXJL5A5bpr8jnmfxvLRmLM52Df-tN4BV_O-6SWQ6SSJG6XX5J1-YbL1Dwyknykm__jpTA"
api-token "secret:v1:yOo4S-0C-ZozpJy4hUV7Wq-E_dZUxOvEBAIEOu58JypIhBLO-RVgQ9wGAVGvjceeSRnjERe8_U4E"
